In [1]:
import pandas as pd

In [5]:
data_path = 'clean_for_excel.csv'

In [6]:
df = pd.read_csv(data_path)

In [8]:
df.head(5)

,loan_id,customer_id,loan_status,current_loan_amount,term,credit_score,annual_income,years_in_current_job,home_ownership,purpose,...,number_of_credit_problems,current_credit_balance,maximum_open_credit,bankruptcies,tax_liens,debt_to_income_ratio,credit_utilization,loan_to_income_ratio,risk_score,customer_segment
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,...,1.0,228190.0,416746.0,1.0,0.0,0.053599,0.547552,0.381511,40.0,Standard
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,724.0,1174162.0,10+ years,Home Mortgage,Debt Consolidation,...,0.0,229976.0,850784.0,0.0,0.0,0.340287,0.270311,0.223417,0.0,Standard
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,267344.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,...,1.0,297996.0,750090.0,0.0,0.0,0.157000,0.397280,0.119784,15.0,Standard
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,...,0.0,256329.0,386958.0,0.0,0.0,0.129999,0.662421,0.430840,0.0,Standard
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,724.0,1174162.0,5 years,Rent,Debt Consolidation,...,0.0,253460.0,427174.0,0.0,0.0,0.210939,0.593341,0.150082,0.0,Standard

In [9]:
kpis=pd.DataFrame({
    'KPI': ['Total Loans','Average Loan Amount','Average Credit Score',
            'Average Income','High Risk %','Premium %','Default (Charged Off) %'],
    'Value':[len(df),
            df['current_loan_amount'].mean(),
            df['credit_score'].mean(),
            df['annual_income'].mean(),
            (df['customer_segment']=='High Risk').mean()*100,
            (df['customer_segment']=='Premium').mean()*100,
            (df['loan_status']=='Charged Off').mean()*100
            ]

})

In [13]:
# Turn off scientific notation when printing
pd.set_option('display.float_format', '{:,.2f}'.format)

In [14]:
kpis

                       KPI        Value
0              Total Loans   100,000.00
1      Average Loan Amount   307,149.29
2     Average Credit Score     1,008.95
3           Average Income 1,339,180.46
4              High Risk %         2.55
5                Premium %         6.51
6  Default (Charged Off) %        22.64